<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../font/TitilliumWeb-Regular.ttf");
        }

        .body {
            color: #000;
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .text-center {
            text-align: center;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: middle;
        }

        .color-primary {
            color: #0a1a72;
        }

        .bold {
            font-weight: bold;
        }

        .sfa-bold {
            font-family: TitilliumWeb-Bold
        }

        .m-clear {
            margin: 0px;
        }

        a {
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline !important;
        }

        table {
            width: 600px;
            margin: 0 auto;
        }

        tr,
        td,
        span,
        p {
            color: #000;
        }

        h2:before {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            left: 100px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        h2:after {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            right: 0px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;">
                        <img src="https://storage.googleapis.com/emailers-images/logo.png" class="img-responsive" style="margin: 0 auto;">
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span style="font-family: TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">PLAYER REGISTRATIONS</span>
                    <h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA
                        <%=city%>
                            <%=eventYear%>
                    </h2>
                </td>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="main-div" style="padding: 0px 54px; text-align: justify; font-family: TitilliumWeb-Regular;font-size: 17px;">

                        <!-- COMMON TEXT  EXCEPT FOR CASH ADDITION-->
                        <p> Dear Sir/ Madam, thank you for filling out the player registration form (STEP1) for SFA Championship
                            <%=eventYear%>,
                                <%=city%>.</p>

                        <!-- CASH ADDITIONAL TEXT -->
                        <%if(registrationFee==='cash'){%>
                            <p>You have selected the ‘Cash/Cheque/DD’ payment option. To complete your registration process
                                kindly courier/hand deliver a payment of Rs.
                                <span class="sfa-bold bold">
                                    <%=amount%>
                                </span> in favour of
                                <span class="sfa-bold bold">“
                                    <%=ddFavour%>”</span> within
                                <span class="sfa-bold ">4</span> working days to:</p>

                            <p class="sfa-bold bold">
                                <%=cityAddress%>
                            </p>
                            <%} else {%>

                                <%}%>
                                    <!-- CASH ADDITIONAL TEXT END -->


                                    <p>
                                        <span class="sfa-bold bold">YOUR REGISTRATION IS NOT YET CONFIRMED.</span>
                                        You will receive an email confirming the status of registration within 2 working days basis successful
                                        <span class="sfa-bold bold">verification of documents</span> .
                                    </p>
                                    <p class="sfa-bold bold">REGISTRATIONS FOR SFA CHAMPIONSHIP
                                        <%=eventYear%>,
                                            <%=city%> IS A 2 STEP PROCESS. YOU WILL BE ABLE TO COMPLETE YOUR SPORTS REGISTRATION (STEP
                                                2) USING YOUR SFA ID & PASSWORD ON SUCCESSFUL VERIFICATION
                                    </p>


                                    <!--  FEW CHANGES  -->
                                    <%if(registrationFee==='cash'){%>
                                        <p>Your registration will stand CANCELLED in the following cases: </p>
                                        <ul type='circle'>
                                            <li>Non- receipt of payment within
                                                <span class="sfa-bold bold">4</span> working days </li>
                                            <li>In the event that the uploaded documents are not legitimate and the required
                                                documents are not submitted to SFA within
                                                <span class="sfa-bold bold"></span> 2 working days of being informed.</li>
                                        </ul>
                                        <%} else {%>
                                            <p>In the event that the uploaded documents are not legitimate you must provide
                                                us with the required documents within
                                                <span class="sfa-bold bold">2</span> working days of being informed.</p>
                                            <p>Failure to do so will result in
                                                <span class="sfa-bold bold">CANCELLATION</span> of registration. No
                                                <span class="sfa-bold bold">REFUND</span> will be made in this case. </p>
                                            <%}%>
                                                <!-- FEW CHANGES END -->


                                                <!-- PACKAGE NAME TO BE DISPLAYED -->
                                                <p>You are a
                                                    <span>
                                                        <%=packageName%>
                                                    </span> which entitles you to the following benefits: </p>
                                                <!-- PACKAGE NAME TO BE DISPLAYED END-->

                                                <!-- PACKAGES FEATURES DATA -->
                                                <ul type='circle'>
                                                    <%_.each(featureDetail,function(features){%>
                                                        <li>
                                                            <%=features.featureName%>
                                                        </li>
                                                        <%})%>
                                                </ul>
                                                <!-- PACKAGES FEATURES DATA END -->


                                                <!-- LINK TO BE ADDED -->
                                                <!-- <p>
                                                    <a href="<%=playerUrl%>" target="_new">Click here to view details of various player registration packages.</a>
                                                </p> -->
                                                <!-- LINK TO BE ADDED END -->


                                                <!-- PACKAGE DIV TO BE HIDE WHEN IT IS PAKAGE 3 -->
                                                <!-- <%if(packageOrder !=1){%>
                                                    <p>In case you wish to upgrade your package, you can do the same via the
                                                        sports registration section (STEP 2)</p>
                                                    <%} else {%>
                                                        DO NOTHING   
                                                        <%}%> -->
                                                <!-- PACKAGE DIV TO BE HIDE WHEN IT IS PAGAGE # END -->

                                                <!-- EVENT CATEGORY -->
                                                <p>
                                                    *An Event Category refers to: Sport + Age Group + Gender + Event/Weight Category (if applicable) Eg. Swimming Male U-10 50m
                                                    Freestyle | Athletics Female U-14 Long Jump
                                                </p>
                                                <!-- EVENT CATEGORY END -->

                                                <!-- INFO PART -->
                                                <p>For further queries kindly email us at
                                                    <a class="sfa-bold bold" href="mailto:
                                                                    <%=infoId%>">
                                                        <%=infoId%>
                                                    </a> or call us on
                                                    <span class="sfa-bold bold">
                                                        <%=infoNo%>
                                                    </span>
                                                </p>
                                                <!-- INFO PART END -->

                                                <!-- REGARDS -->
                                                <p style="font-family:TitilliumWeb-Bold; font-weight: bold;">Regards,
                                                    <br>Team SFA</p>
                                                <!-- REGARDS END -->
                                                <!-- INFO PART -->
                                                <p>For further queries kindly email us at
                                                    <a class="sfa-bold bold" href="mailto:<%=infoId%>">
                                                        <%=infoId%>
                                                    </a> or call us on
                                                    <%_.each(infoNoArr,function(n,key){%>
                                                        <a style="font-family:TitilliumWeb-Bold; color: #000;" href="tel:<%=n%>">
                                                            <%=n%>
                                                        </a>
                                                        <%if((infoNoArr.length-1) !== key){%>
                                                            <span>/</span>
                                                            <%}%>
                                                                <%})%>
                                                </p>
                                                <!-- INFO PART END -->

                                                <!-- REGARDS -->
                                                <p style="font-family:TitilliumWeb-Bold; font-weight: bold;">Regards,
                                                    <br>Team SFA</p>
                                                <!-- REGARDS END -->
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
                        <p class="text-center" style="padding: 5px 0px;color: #fff;font-size: 14px;margin: 0px;">Follow us on our social media handles for all the latest updates on the SFA Championship 2018-19</p>
                        <ul class="list-inline text-center" style="padding: 8px 0px;font-weight: bold;padding-bottom: 0px; margin: 0px;">
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g1.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">www.sfanow.in</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g2.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sportsforallnow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g3.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g4.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>