<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../font/TitilliumWeb-Regular.ttf");
        }

        .body {
            color: #000;
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .text-center {
            text-align: center;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline !important;
        }

        table {
            width: 600px;
            margin: 0 auto;
        }

        table,
        .table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        h2:before {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            left: 150px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        h2:after {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            right: 50px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .table>thead>tr>th,
        .table>tbody>tr>td {
            padding: 8px;
            font-weight: 400;
            border: 1px solid #000;
        }

        .table>tbody>tr>td:nth-child(1) {
            width: 160px;
        }

        .table>tbody>tr>td:nth-child(2),
        .table>thead>tr>th:nth-child(2) {
            text-align: left;
        }

        tr,
        td,
        span,
        p {
            color: #000;
        }

        a {
            cursor: pointer;
        }

        .text-uppercase {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;">
                        <img src="https://storage.googleapis.com/emailers-images/logo.png" class="img-responsive" style="margin: 0 auto;">
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span style="font-family: TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">SPORTS REGISTRATIONS </span>
                    <h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA
                        <span class="text-uppercase">
                            <%=city%>
                        </span>
                        <span>
                            <%=eventYear%>
                        </span>
                    </h2>
                </td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="main-div" style="padding: 0px 54px; text-align: justify; font-family: TitilliumWeb-Regular;font-size: 17px;">
                        <p> Dear
                            <%=name%>,</p>

                        <p style="margin-bottom: 0px;">
                            Congratulations! You have successfully registered for
                            <span style="font-weight:bold;">
                                <%=sportName%>. Please find details for the same:
                        </p>

                    </div>
                </td>
            </tr>

            <!-- <tr>
                <td>
                    <div style="padding: 0px 54px;">

                        <p class="text-center" style="border: 1px solid #000;padding: 8px;margin-bottom: 0px;">
                            <span style="font-weight: bold;">
                                <%=sportName%>
                            </span> - Athlete SFA ID:
                            <%=atheleteSFA%>
                        </p>
                    </div>

                </td>
            </tr> -->

            <!-- <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <table class="table">
                            <thead style="text-align: center;">
                                <th style="font-weight:600;">Sr.No.</th>
                                <th style="font-weight:600;">Athlete Name</th>
                                <th style="font-weight:600;">
                                    <%=type%> Name</th>
                                <th style="font-weight:600;">
                                    <%=type%> SFA ID</th>
                                <th style="font-weight:600;">Gender </th>
                                <th style="font-weight:600;">Age Category</th>
                                <th style="font-weight:600;">Events</th>
                            </thead>
                            <tbody>
                                <tr style="text-align: left;">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <%=atheleteName%>
                                    </td>
                                    <td>
                                        <%=schoolName%>
                                    </td>
                                    <td>
                                        <%=schoolSFA%>
                                    </td>
                                    <td>
                                        <%=gender%>
                                    </td>
                                    <td>
                                        <%=ageGroup%>
                                    </td>
                                    <td>
                                        <%=eventName%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr> -->
            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <ul style="border: 1px solid #091a71;padding: 8px;color: #fff;background: #091a71; margin-bottom: 0px;">
                            <li style="display: inline-block;">
                                <%=completeSport%>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <table class="table">
                            <!--<thead style="text-align: center; background: #c4c4c4; ">
                            <!--<th>SR.NO</th>
                            <th>Athlete Name</th>-->


                            <!--</thead>-->
                            <tbody>
                                <tr style="text-align: left;background: #e1e1e1;">
                                    <td>Athlete Name:</td>
                                    <td>
                                        <%=atheleteName%>
                                    </td>

                                </tr>
                                <tr style="text-align: left;background: #e1e1e1;">
                                    <td>Athlete SFA ID:</td>
                                    <td>
                                        <%=atheleteSFA%>
                                    </td>

                                </tr>
                                <tr style="text-align: left;background: #e1e1e1;">
                                    <td>Sport:</td>
                                    <td>
                                        <%=sportName%>
                                    </td>

                                </tr>
                                <tr style="text-align: left;background: #e1e1e1;">
                                    <td>Gender:</td>
                                    <td>
                                        <%=gender%>
                                    </td>

                                </tr>
                                <tr style="text-align: left;background: #e1e1e1;">
                                    <td>Event Category </td>
                                    <td>
                                        <%=eventName%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <%if(type=="school"){%>
                            <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                           color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">School Name:
                                <%=schoolName%>
                            </p>
                            <% }else{%>
                                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                           color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">College Name:
                                    <%=schoolName%>
                                </p>
                                <% }%>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <%if(type=="school"){%>
                            <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                           color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">School SFA ID:
                                <%=schoolSFA%>
                            </p>
                            <% }else{%>
                                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                            color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">College SFA ID:
                                    <%=schoolSFA%>
                                </p>
                                <% }%>
                    </div>

                </td>
            </tr>


            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <p>You have selected
                            <%=packageName%> which entitles you to the following benefits:
                        </p>

                        <ul type='circle'>
                            <%_.each(featureDetail,function(features){%>
                                <li>
                                    <%=features.featureName%>
                                </li>
                                <%})%>
                        </ul>


                        <%if(packageOrder !== 1){%>
                            <!-- <p style="font-family:TitilliumWeb-Bold;font-weight:bold;">
                                <a href="<%=playerUrl%>" target="_new">Click here to view details of various player registration packages</a>
                            </p> -->
                            <p>In case you wish to upgrade your package, you can do so via sports registration (STEP 2)
                                <a href="<%=playerUrl%>" target="_new">Click here to upgrade</a>

                            </p>
                            <%}%>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px; font-weight: bold;">
                        <p style="margin-bottom: 0px"> Kindly Note:</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 54px;">
                    <ul>
                        <li class="mg-bottom">
                            All changes in your sports registration can be made via the sports registration (STEP 2) using your SFA ID and Password before
                            the last date of registrations.
                        </li>
                        <li class="mg-bottom">
                            Registrations for SFA Championship
                            <%=eventYear%>,
                                <%=city%> will be closed on
                                    <%=endDate%>
                        </li>
                        <li class="mg-bottom">
                            A final list of sports wise and event wise teams and players will be published on
                            <a href="http://www.sfanow.in" target="_new">www.sfanow.in</a> at least 25 days prior to the Championship. In case there is a team or a player
                            who is missing from that list SFA must be informed of the same within 48 hours.
                        </li>
                        <li class="mg-bottom">
                            All draws and schedules will be published on our website 15 days prior to start of the Championship
                        </li>
                        <li class="mg-bottom">
                            <!-- <a href="<%=ruleUrl%><%=sportName%>" target="_new">
                                Click here to view the rules & regulations of
                                <span style="font-weight: bold;">
                                    <%=sportName%>
                                </span>
                            </a>.  -->
                            Kindly note the rules & regulations are subject to change till the beginning of your sport at the Championship. We recommend
                            that all players to view rules and regulations of their sport
                            <span style="font-weight: bold;">1</span> day prior to the Championship.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px; ">
                        <p style="margin-top: 20px; font-weight: bold;"> Thank You </p>
                        <p style="font-family:TitilliumWeb-Bold; font-weight: bold;">Regards,
                            <br>Team SFA</p>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
                        <p class="text-center" style="padding: 5px 0px;color: #fff;font-size: 14px;margin: 0px;">Follow us on our social media handles for all the latest updates on the SFA Championship 2018-19</p>
                        <ul class="list-inline text-center" style="padding: 8px 0px;font-weight: bold;padding-bottom: 0px; margin: 0px;">
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g1.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">www.sfanow.in</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g2.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sportsforallnow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g3.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g4.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>