<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../font/TitilliumWeb-Regular.ttf");
        }

        .body {
            color: #000;
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .text-center {
            text-align: center;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        a {
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline !important;
        }

        table {
            width: 600px;
            margin: 0 auto;
        }

        tr,
        td,
        span,
        p {
            color: #000;
        }

        h2:before {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            left: 100px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        h2:after {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            right: 0px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;">
                        <img src="https://storage.googleapis.com/emailers-images/logo.png" class="img-responsive" style="margin: 0 auto;">
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span style="font-family:TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">VERIFICATION DOCUMENT</span>
                    <h2 style="margin:10px;position:relative;font-family:TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA MUMBAI 2018-19</h2>
                    <!-- INTEGRATED -->
                    <!--    
                        <h2 style="margin:10px;position:relative;font-family:TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA <%=city%> <%=eventYear%></h2>
                    -->
                </td>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="main-div" style="padding: 0px 54px;text-align:justify;font-family:TitilliumWeb-Regular;font-size:17px;">
                        <p>Dear Sir/Madam,</p>
                        <p>we are unable to process your form for SFA Championship 2018-19, City name due to invalid documents.</p>

                        <p>Kindly request you to email us the following documents on
                            <a style="font-family:TitilliumWeb-Bold;color:#000;" href="mailto:info@sfanow.in">info@sfanow.in</a> : </p>

                        <ul type='circle'>
                            <li>Aadhar Card/Birth Certificate/Passport</li>
                            <li>Most recent School ID Card</li>
                            <li>Player Profile Picture</li>
                        </ul>

                        <p>Failure to provide the above mentioned documents within 2 working days will result in CANCELLATION
                            of your entry.</p>

                        <p>For further queries kindly call us on
                            <span style="font-family:TitilliumWeb-Bold;">7045684365/66/67</span>
                        </p>


                        <!-- INTEGRATED -->
                        <!--
                        <p>Dear Sir/Madam,</p>
                        
                        <p>we are unable to process your form for SFA Championship <%=eventYear%>, <%=city%> due to invalid documents.</p>

                        <p>Kindly request you to email us the following documents on
                            <a style="font-family:TitilliumWeb-Bold;color:#000;"
                                href="mailto:<%=infoId%>"><%=infoId%></a> : </p>

                        <ul type='circle'>
                            <li>Aadhar Card/Birth Certificate/Passport</li>
                            <li>Most recent School ID Card</li>
                            <li>Player Profile Picture</li>
                        </ul>

                        <p>Failure to provide the above mentioned documents within 2 working days will result in CANCELLATION
                            of your entry.</p>

                        <p>For further queries kindly call us on
                            <%_.each(infoNoArr,function(n,key){%>
                                <a style="font-family:TitilliumWeb-Bold; color: #000;" href="tel:<%=n%>">
                                    <%=n%>
                                </a>
                                <%if((infoNoArr.length-1) !== key){%>
                                    <span>/</span>
                                    <%}%>
                                        <%})%>
                        </p>
                    -->

                        <p style="font-family:TitilliumWeb-Bold;font-weight:bold;">Regards,
                            <br>Team SFA</p>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
                        <p class="text-center" style="padding: 5px 0px;color: #fff;font-size: 14px;margin: 0px;">Follow us on our social media handles for all the latest updates on the SFA Championship 2018-19</p>
                        <ul class="list-inline text-center" style="padding: 8px 0px;font-weight: bold;padding-bottom: 0px; margin: 0px;">
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g1.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">www.sfanow.in</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g2.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sportsforallnow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g3.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow</a>
                            </li>
                            <li>
                                <img src="https://storage.googleapis.com/emailers-images/g4.png" alt="">
                            </li>
                            <li style="vertical-align: middle;padding-left: 0;">
                                <a href="" style="color:#fff;text-decoration: none;">/sfanow </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>