<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>
  </title>
  <style>
    @font-face {
      font-family: 'TitilliumWeb-Bold';
      src: url("../font/TitilliumWeb-Bold.ttf");
    }

    @font-face {
      font-family: 'TitilliumWeb-Regular';
      src: url("../font/TitilliumWeb-Regular.ttf");
    }

    .body {
      font-family: TitilliumWeb-Regular;
    }

    .img-responsive {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .inline-block {
      display: inline-block;
    }

    .text-center {
      text-align: center;
    }

    .list-inline>li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline !important;
    }

    table {
      width: 600px;
      margin: 0 auto;
    }

    h2:before {
      content: '';
      width: 100px;
      height: 0px;
      color: #00aaff;
      top: 50%;
      display: block;
      border-bottom: 1px solid #00aaff;
      left: 150px;
      position: absolute;
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    h2:after {
      content: '';
      width: 100px;
      height: 0px;
      color: #00aaff;
      top: 50%;
      display: block;
      border-bottom: 1px solid #00aaff;
      right: 50px;
      position: absolute;
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .table>thead>tr>th,
    .table>tbody>tr>td {
      padding: 8px;
      font-weight: 400;
    }

    .table>tbody>tr>td:nth-child(1) {
      width: 160px;
    }

    .table>tbody>tr>td:nth-child(2),
    .table>thead>tr>th:nth-child(2) {
      text-align: left;
    }

    a {
      cursor: pointer;
    }

    .text-uppercase {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <table>
    <thead>
      <tr>
        <td>
          <div class="logo text-center" style="margin-top: 30px;"><img src="https://sfa.wohlig.co.in/img/img/logo.png" class="img-responsive" style="margin: 0 auto;"><br></div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span style="font-family: TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">SPORTS REGISTRATIONS </span>
          <h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA <span class="text-uppercase"> <%=city%> </span>
            <%=year%>
          </h2>
        </td>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <div class="main-div" style="padding: 0px 54px; text-align: justify; font-family: TitilliumWeb-Regular;font-size: 17px;">
            <p> Dear
              <%=name%>,</p>

            <p style="margin-bottom: 0px;">
              Congratulations! You have successfully registered for <span style="font-weight:bold;"><%=sportName%></span>              at SFA
              <%=city%>
                <%=year%>. Please find details for the same below
            </p>
            <!--                         <p style="margin-bottom: 0px">Stay updated with announcements with regards to SFA <%=city%> <%=year%>, by following our Facebook event page:</p>
                        <a style="   color: #0a1a72;"  href="https://www.facebook.com/events/237874770032808/?active_tab=discussion" target="_blank">https://www.facebook.com/events/237874770032808/?active_tab=discussion</a>
                        <p>For further details about your application or any other information you may require please contact us on <span style="font-family:TitilliumWeb-Bold;">7045684365 /66 /67 </span>                            or<br> email us at 
                        <a style="font-family:TitilliumWeb-Bold; color: black;"" href="mailto:info@sfanow.in">info@sfanow.in</a>
                        </p>
                        <p style="font-family:TitilliumWeb-Bold;">Regards,<br>Team SFA</p> -->

          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div style="padding: 0px 54px;">

            <ul style="border: 1px solid #091a71;padding: 8px;
    color: white;background: #091a71; margin-bottom: 0px;">
              <li style="display: inline-block;">
                <%=completeSport%>
              </li>
            </ul>
          </div>

        </td>
      </tr>

      <tr>
        <td>
          <div style="padding: 0px 54px;">
            <table class="table">
              <!--<thead style="text-align: center; background: #c4c4c4; ">
                <!--<th>SR.NO</th>
                <th>Athlete Name</th>-->


              <!--</thead>-->
              <tbody>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Athlete Name:</td>
                  <td>
                    <%=atheleteName%>
                  </td>

                </tr>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Athlete SFA ID:</td>
                  <td>
                    <%=atheleteSFA%>
                  </td>

                </tr>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Sport:</td>
                  <td>
                    <%=sportName%>
                  </td>

                </tr>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Gender:</td>
                  <td>
                    <%=gender%>
                  </td>

                </tr>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Age Category</td>
                  <td>
                    <%=ageGroup%>
                  </td>

                </tr>
                <tr style="text-align: left;background: #e1e1e1;">
                  <td>Event Category </td>
                  <td>
                    <%=eventName%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px;">
            <%if(type=="school"){%>
              <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
               color: black;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">School Name:
                <%=schoolName%>
              </p>
              <% }else{%>
                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
               color: black;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">College Name:
                  <%=schoolName%>
                </p>
                <% }%>
          </div>

        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px;">
            <%if(type=="school"){%>
              <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
    color: black;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">School SFA ID:
                <%=schoolSFA%>
              </p>
              <% }else{%>
                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
    color: black;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">College SFA ID:
                  <%=schoolSFA%>
                </p>
                <% }%>
          </div>

        </td>
      </tr>


      <tr>
        <td>
          <div style="padding: 0px 54px; color: #091a71; font-weight: 600">
            <p style="margin-bottom: 0px;">We wish to see you with a strong contingent,</p>
            <p style="margin-top: 5px;">such that your
              <%=type%> is up there on the ranking table!</p>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div style="padding: 0px 54px; font-weight: bold;">
            <p style="margin-bottom: 0px"> Kindly Note:</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; text-align:justify; ">
            <p style="margin-bottom: 0px;"> 1) To make any changes regarding the above information email us at <a style="font-family:TitilliumWeb-Bold; color: black;"
                href="mailto:info@sfanow.in ">info@sfanow.in</a>. No changes can be made after 30th September
              <%=year%>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; text-align:justify; ">
            <p style="margin-bottom: 0px; "> 2) Draws and Schedules will be published on our website by 20th November
              <%=year%>. </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; text-align:justify; ">
            <p style="margin-bottom: 0px; "> 3) Click on the following link to view
              <%=sportName%> Rules and Regulations: <a href="https://sfanow.in/sport/<%=sportName%>" target="_new">https://sfanow.in/sport/<%=sportName%></a>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; text-align:justify; ">
            <p style="margin-bottom: 0px;
                "> 4) Stay updated with details such as championship draws & schedules, workshops, exhibition matches, special days
              and all other announcements with regards to SFA
              <%=city%>
                <%=year%>, by following our Facebook event page: <a style=" color: #0a1a72; font-style: italic; font-weight: 600; "
                    href="https://www.facebook.com/events/237874770032808/?active_tab=discussion
                " target="_blank ">https://www.facebook.com/events/237874770032808/?active_tab=discussion</a></p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; text-align:justify; ">
            <p style="margin-bottom: 0px;"> 5) For further details please contact us on: 704568365/66/67 or email us at
              <a style="font-family:TitilliumWeb-Bold; color: black; " href="mailto:info@sfanow.in ">info@sfanow.in</a>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding: 0px 54px; ">
            <p style="margin-top: 20px; font-weight:bold;"> Ab Jeetega India! </p>
            <p style="font-family:TitilliumWeb-Bold; font-weight:bold; ">Regards,<br>Team SFA</p>
          </div>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td>
          <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
            <ul class="list-inline" style="padding: 8px 35px;font-size: 16px;font-weight: bold">
              <li><img src="https://sfa.wohlig.co.in/img/img/g1.png" alt=""></li>
              <li style="vertical-align: top;padding-left: 0;"><a href="www.sfanow.in" target="_new" style="color:#fff;text-decoration: none;">www.sfanow.in</a></li>
              <li><img src="https://sfa.wohlig.co.in/img/img/g2.png" alt=""></li>
              <li style="vertical-align: top;padding-left: 0;"><a href=" https://goo.gl/bSQ9CB" target="_new" style="color:#fff;text-decoration: none;">/sportsforallnow</a></li>
              <li><img src="https://sfa.wohlig.co.in/img/img/g3.png" alt=""></li>
              <li style="vertical-align: top;padding-left: 0;"><a href="https://twitter.com/sfanow" target="_new" style="color:#fff;text-decoration: none;">/sfanow</a></li>
              <li><img src="https://sfa.wohlig.co.in/img/img/g4.png" alt=""></li>
              <li style="vertical-align: top;padding-left: 0;"><a href="https://www.instagram.com/sfanow/" target="_new" style="color:#fff;text-decoration: none;">/sfanow </a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>