<!DOCTYPE html>
<html>

<head>
	<title>Invoice</title>


</head>
<link rel="stylesheet" href="" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
	.page {
		width: 21cm;
		min-height: 29.7cm;
		padding: 1cm;
		margin: 1cm auto;
		background: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		border: 1px solid #ddd;
	}

	td {

		text-align: left;
		padding: 5px 8px;
	}

	.pa0 {
		padding: 0px !important;
	}

	.mb0 {
		margin-bottom: 0px;
	}

	.address>p {
		margin-bottom: 0px;
		font-size: 12px;
	}

	.invdate>table>tbody>tr>td>p {
		margin-bottom: 0px;
	}

	.invdate>table>tbody>tr>td {
		border: 1px solid #ddd;
	}

	.w-table>table>tbody>tr>td:nth-child(1) {
		width: 191px;
	}

	.w-table2>table>tbody>tr>td:nth-child(1) {
		width: 191px;
	}

	.table2>tbody>tr:nth-child(1)>td {
		border: 1px solid #ddd;
	}

	.table2>tbody>tr:nth-child(n+1)>td:nth-child(n+1) {
		border-right: 1px solid #ddd;
		vertical-align: top;
		;
	}

	.table2>tbody>tr:nth-child(5) {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	.table2>tbody>tr>td>p {
		text-align: center;
	}

	.bold {
		font-weight: bold;
	}

	.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
	}

	p {
		font-size: 12px;
		margin-bottom: 0px !important;
	}

	@media print {
		.page {
			margin: 0;
			border: initial;
			border-radius: initial;
			width: initial;
			min-height: initial;
			box-shadow: initial;
			background: initial;
			page-break-after: always;
		}
		.gcol {
			background-color: #c0c0c0 !important;
			-webkit-print-color-adjust: exact !important;
		}
	}
</style>

<body>
	<div class="page">
		<div class="top-head">
			<h4 style="text-align: center;">Tax Invoice</h4>

		</div>
		<div class="table">
			<table>
				<thead>

				</thead>
				<tbody>
					<tr>
						<td style="width: 375px;  border:1px solid #ddd;">
							<div style="display: inline-block; vertical-align: top; margin-right: 5px;">
								<div style="">
									<img src="https://sfa.wohlig.co.in/img/img/logo.png" class="img-responsive" width="68px" height="70px">
								</div>
							</div>
							<div style="display: inline-block;">
								<div class="address">
									<h5 class="bold" style="margin-bottom: 0px; margin-top: 0px;">SFA Events Private Limited</h5>
									<%if(infoId == 'info@sfanow.in'){%>
										<p>17A, Raviraj House, 6th Floor, Saraswati Road,</p>
										<p>Off Linking Road, Santacruz (West) - 400053</p>
										<%} else if(infoId == 'info.hyd@sfanow.in'){%>
											<p>Head Office: SFA Sporting Services Pvt Ltd, 17A, Raviraj House, 6th Floor, </p>
											<p>Saraswati Road, Off Linking Road, Santacruz (West) - 400053</p>
											<%}%>
												<p>GSTIN/UIN:27AAWCS2792J1ZG</p>
												<p>CIN:U74999MH2015PTC268781</p>
												<p>Contact:
													<%=infoNo%>
												</p>
												<p>Email:account@sfanow.in<br/>www.sfanow.in/
													<%=infoId%>

												</p>


								</div>
							</div>
						</td>
						<td class="pa0" style="vertical-align: top;">
							<div class="invdate w-table">
								<table>
									<tbody>
										<tr>
											<td>
												<p>Invoice No</p>
												<p class="bold">
													<%=receiptNo%>
												</p>
											</td>
											<td>
												<p>Dated</p>
												<p class="bold">
													<%Date%>
												</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>Delivery Note:</p>
												<p></p>
											</td>
											<td>
												<p>Mode/Terms of Payment:</p>
												<p></p>
											</td>
										</tr>
										<tr>
											<td>
												<p>Supplier's Ref:</p>
												<p></p>
											</td>
											<td>
												<p>Other Reference(s)</p>
												<p></p>
											</td>
										</tr>

									</tbody>
								</table>

							</div>

						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<div style="margin-bottom: 20px;">
								<p>Buyer</p>
								<p class="bold">
									<%=schoolName%>
								</p>
								<p>Address</p>
								<p class="bold">
									<%=schoolAddress%>
								</p>
							</div>
							<div>
								<p>PAN/IT No:
									<%=panNo%>
								</p>
								<p>Maharashtra Code:27</p>
							</div>
						</td>
						<td class="pa0" style="vertical-align: top;">
							<div class="invdate w-table2">
								<table style="border: none;">
									<tbody>
										<tr>
											<td>
												<p>Buyer's Order No:</p>
												<p></p>
											</td>
											<td>
												<p>Dated:</p>
												<p></p>
											</td>
										</tr>
										<tr>
											<td>
												<p>Despatch Document No:</p>
												<p></p>
											</td>
											<td>
												<p>Delivery Note Date:</p>
												<p></p>
											</td>
										</tr>
										<tr>
											<td>
												<p>Despatched Through:</p>
												<p></p>
											</td>
											<td>
												<p>Destination</p>
												<p></p>
											</td>

										</tr>
										<tr>
											<td colspan="2">
												<p>Terms of Delivery:</p>
												<p style="text-align: justify;">

												</p>
												<p></p>
												<p></p>
												<p></p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>


					</tr>
					<tr>
						<div>
							<table class="table2">
								<tr>
									<td>
										<p>Sr.no</p>
									</td>
									<td width="327px;">
										<p style="text-align: center;">Particulars</p>
									</td>
									<td>
										<p>HSN/SAC</p>
									</td>
									<td>
										<p>Quantity</p>
									</td>
									<td>
										<p>Rate</p>
									</td>
									<td>
										<p>per</p>
									</td>
									<td>
										<p>Amount</p>
									</td>
								</tr>
								<tr>
									<td>
										1.
									</td>
									<td>
										<p class="bold">SFA School Championship Registration Fees
											<p>
												<p>(Event Management)
													<p>
									</td>
									<td>
										<p>00440197
											<p>
									</td>
									<td>

									</td>
									<td>

									</td>
									<td>

									</td>
									<td>
										<p class="bold">
											<%=amountWithoutTax%>0</p>
									</td>
								</tr>


								<%if(city == 'Mumbai'){%>
									<tr>
										<div>
											<td>
												2.
											</td>
											<td>
												<p class="bold">CGST @
													<%=cgstPercent%>%
														<p>

											</td>
											<td>
												<p>
													<p>
											</td>
											<td>

											</td>
											<td>
												<p style="text-align: right;">
													<%=cgstPercent%>
												</p>
											</td>
											<td>
												<p>%</p>
											</td>
											<td>
												<p class="bold">
													<%=cgstAmout%>
												</p>
											</td>
									</tr>
									<tr>
										<td>
											3.
										</td>
										<td>
											<p class="bold">SGST @
												<%=sgstPercent%>%
													<p>

										</td>
										<td>
											<p>
												<p>
										</td>
										<td>

										</td>
										<td>
											<p style="text-align: right;">
												<%=sgstPercent%>
											</p>
										</td>
										<td>
											<p>%</p>
										</td>
										<td>
											<p class="bold">
												<%=sgstAmout%>
											</p>
										</td>
									</tr>
									<%} else if(city == 'Hyderabad'){%>
										<tr>
											<td>
												2.
											</td>
											<td>
												<p class="bold">IGST @
													<%=igstPercent%>%
														<p>
											</td>
											<td>
												<p>
													<p>
											</td>
											<td>
											</td>
											<td>
												<p style="text-align: right;">
													<%=igstPercent%>
												</p>
											</td>
											<td>
												<p>%</p>
											</td>
											<td>
												<p class="bold">
													<%=igstAmout%>
												</p>
											</td>
										</tr>
										<%} else if(city == 'Ahmedabad'){%>
											<tr>
												<td>
													2.
												</td>
												<td>
													<p class="bold">IGST @
														<%=igstPercent%>%
															<p>
												</td>
												<td>
													<p>
														<p>
												</td>
												<td>
												</td>
												<td>
													<p style="text-align: right;">
														<%=igstPercent%>
													</p>
												</td>
												<td>
													<p>%</p>
												</td>
												<td>
													<p class="bold">
														<%=igstAmout%>
													</p>
												</td>
											</tr>
											<%}%>
												<tr>
													<td></td>
													<td>
														<p style="float: right;">Total</p>
													</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>
														<p class="bold">
															<%=typeAmount%>
														</p>
													</td>
												</tr>
												<tr style="border-bottom:1px solid #ddd; ">
													<td colspan="7">
														<div style="display: inline-block; float: left;">
															<p>
																Amount Chargeable (in words)
															</p>
															<p class="bold" style="margin-top: 5px;">
																INR
																<%=amountInWords%>
															</p>
														</div>
														<div style="display: inline-block; float: right;">
															<p>E. & O.E</p>
														</div>
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<p>HSN/SAC</p>

													</td>
													<td colspan="">
														<p>Taxable Value</p>


													</td>
													<td colspan="2" style="vertical-align: top; padding: 0px;">
														<table style="border: none;">
															<tr>
																<td colspan="2">
																	<p style="text-align: center;">Central Tax</p>
																</td>

															</tr>
															<tr>
																<td style="border-top: 1px solid
											#ddd; border-right: 1px solid #ddd; border-bottom:1px solid #ddd;width:63px;">
																	<p>Rate</p>
																</td>
																<td style="border-bottom:1px solid #ddd;">
																	<p>Amount</p>
																</td>
															</tr>
														</table>

													</td>
													<td colspan="2" style="vertical-align: top; padding: 0px;">
														<table style="border: none;">
															<tr>
																<td colspan="2">
																	<p style="text-align: center;">State Tax</p>
																</td>

															</tr>
															<tr>
																<td style="border-top: 1px solid
											#ddd; border-right: 1px solid #ddd;border-bottom:1px solid #ddd; width: 49px;">
																	<p>Rate</p>
																</td>
																<td style="border-bottom:1px solid #ddd;">
																	<p>Amount</p>
																</td>
															</tr>
														</table>

													</td>
												</tr>
												<tr>
													<td colspan="2" style="border-top: 1px solid #ddd">
														<p style="text-align: left;">00440197</p>
													</td>
													<td style="border-top: 1px solid #ddd">
														<p>
															<%=amountWithoutTax%>
														</p>
													</td>
													<td style="width: 50px;">
														<p>
															<%=cgstPercent%>%</p>
													</td>
													<td>
														<p>
															<%=cgstAmout%>
														</p>
													</td>
													<td style="width: 50px;">
														<p>
															<%=sgstPercent%>%</p>
													</td>
													<td>
														<p>
															<%=sgstAmout%>
														</p>
													</td>
												</tr>
												<tr>
													<td colspan="2" style="border-top: 1px solid #ddd">
														<p class="bold" style="float: right;">Total</p>
													</td>
													<td style="border-top: 1px solid #ddd">
														<p class="bold">
															<%=amountWithoutTax%>
														</p>
													</td>
													<td style="width: 50px; border-top: 1px solid #ddd">
														<p></p>
													</td>
													<td style="border-top: 1px solid #ddd">
														<p class="bold">
															<%=cgstAmout%>
														</p>
													</td>
													<td style="width: 50px; border-top: 1px solid #ddd">
														<p></p>
													</td>
													<td style="border-top: 1px solid #ddd">
														<p class="bold">
															<%=sgstAmout%>
														</p>
													</td>
												</tr>
												<tr style="border-top: 1px solid #ddd">
													<td colspan="7">
														<div>
															<p> Tax Amount (in words): <span class="bold">INR <%=taxTotalAmountInWords%></span></p>
														</div>

													</td>
												</tr>
												<tr>
													<td colspan="7">
														<!-- 	<div>
									<p>GST IN :<span class="bold">27AAWCS2792J1ZG</span></p>
									<p style="margin-top: 5px;">Company's pan:<span class="bold">AAWCS2792J</span></p>
								</div> -->
														<div style="display: inline-block;">
															<p> GST IN</p>
															<p>Company's pan</p>
														</div>
														<div style="display: inline-block;">
															<p>:</p>
															<p>:</p>
														</div>
														<div style="display: inline-block;">
															<p class="bold">27AAWCS2792J1ZG</p>
															<p class="bold">AAWCS2792J</p>
														</div>

													</td>
												</tr>
												<tr>
													<td colspan="2"></td>
													<td colspan="5" class="pa0" style="border-top: 1px solid #ddd;">
														<table style="border: none;">
															<tr>

																<td style="text-align: right;     padding: 0px 10px 25px 0px;"><span class="bold">for SFA Events Private Limited</span></td>
															</tr>
															<tr>

																<td style="text-align: right; padding: 0 10px 0px 0px;">Authorised Signatory</td>
															</tr>
														</table>
													</td>
												</tr>
							</table>
							</div>
					</tr>
				</tbody>

			</table>
			<div style="text-align: center;">
				<h6> This is a Computer Generated Invoive</h6>

			</div>

			</div>

		</div>




</body>

</html>