<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../font/TitilliumWeb-Bold.ttf");
        }
        
        @font-face {
            font-family: 'TitilliumWeb-LightItalic';
            src: url("../font/TitilliumWeb-LightItalic.ttf");
        }
        
        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../font/TitilliumWeb-Regular.ttf");
        }
        
        TitilliumWeb-ExtraLightItalic.ttf .body {
            font-family: TitilliumWeb-Regular;
        }
        
        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }
        
        .inline-block {
            display: inline-block;
        }
        
        .text-center {
            text-align: center;
        }
        
        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
        
        table {
            width: 600px;
            margin: 0 auto;
        }
        
        .emailer-table table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #000;
        }
        
        .emailer-table th {
            border: 1px solid #000;
            text-align: left;
            padding: 3px 10px;
        }
        
        .emailer-table td {
            border-left: 1px solid black;
            text-align: left;
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;background:#0a1a72;padding: 15px 0 8px; "><img src="https://sfa.wohlig.co.in/img/img/symbol.png" class="img-responsive" style="margin: 0 auto;"><br>
                        <h2 style="margin:0;color: #fff;font-family:TitilliumWeb-Bold;">SFA EVENTS PVT. LTD</h2>
                    </div>
                </td>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>
                    <ul style="font-family: TitilliumWeb-Regular;font-size:14px;padding-right: 40px;">
                        <li class="inline-block" style="padding-bottom: 5px;"><b>CIN :</b> U74999MH2015PTC268781</li>
                        <li class="inline-block" style="float:right;padding-bottom: 5px;"><b>SERVICE TAX NO :</b> AAWC52792150001</li>
                        <li class="inline-block" style="padding-right: 93px;padding-bottom: 5px;"><b> RECIEPT NO. :</b> <%=receiptNo%></li>
                        <li class="inline-block" style="padding-bottom: 5px;"><b>SERVICE TAX CATEGORY :</b> EVENT MANAGEMENT</li><br>
                        <li class="inline-block"><b>SFA ID :</b><%=sfaID%> </li>  
                        <li class="inline-block" style="float:right"><b>DATED :</b> <%=Date%></li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="text-center" style="margin: -10px 0px 5px;;color: #0a1a72;font-family: TitilliumWeb-Bold  ;font-size: 20px;">RECEIPT VOUCHER</h4>
                    <div class="emailer-table" style="margin: 0 40px;">
                        <table style="font-family: TitilliumWeb-Regular;  ">
                            <tr>
                                <th>Particulars </th>
                                <th>Amount</th>
                            </tr>
                            <tr>
                                <td>Account :</td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>SFA Championship Registration Fees</td>
                                <td>10,436.00</td>

                            </tr>
                            <tr>
                                <td style="padding: 5px 10px 0;">Service Tax Payable (14%)</td>
                                <td style="padding: 5px 10px 0;">1,460.00</td>

                            </tr>
                            <tr>
                                <td style="padding: 0 10px;">Swachh Bharat Cess (0.5%) </td>
                                <td style="padding: 0 10px;"> 52.00</td>
                            </tr>
                            <tr>
                                <td style="padding: 0 10px 60px;">Krishi Kalyan Cess (0.5%) </td>
                                <td style="padding: 0 10px 60px;"> 52.00</td>
                            </tr>
                            <tr>
                                <td><b> On Account Of :</b><br> Being registration fees received from<br> <%=schoolName%> </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding:5px 10px 15px 10px;"><b>Transaction Details</b><br><span><%=transactionID%></span></td>
                                <td style="padding:5px 10px 15px 10px;"></td>
                            </tr>
                            <tr>
                                <td style="padding:0 10px 15px 10px;"><b>Amount (In Words) :</b> <br>INR <span> Twelve Thousand Only </span>                                    </td>
                                <td style="padding: 0 10px 0px 10px;border-top: 1px solid black;"><i class="fa fa-inr" aria-hidden="true"></i> 12,000.00</td>
                            </tr>
                        </table>
                    </div>
                    <tr>
                        <td>
                            <ul style="font-family: TitilliumWeb-Regular;font-size:14px;padding-right: 40px;margin: 0;">
                                <li class="inline-block"><b>PAN NO :</b> AAWC527921 </li>
                                <li class="inline-block" style="float:right"><b>TAN N0 :</b> MUMS84804G </li>
                            </ul>
                            <p class="text-center" style="margin-bottom: 0;font-family: TitilliumWeb-LightItalic">*This is a system generated acknowledgement & does not require any signature. </p>

                        </td>
                    </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer text-center" style="background:#0a1a72;font-family: TitilliumWeb-Regular; color: #fff">
                        <p style="padding: 3px 0;"> 1306, Panchratna Building, Opera House, Charni Road, Mumbai - 400004
                            <br>www.sfanow.in I info@sfanow.in Contact : 70456 84365 / 66 / 67 </p>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>