<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../font/TitilliumWeb-Regular.ttf");
        }

        .body {
            color: #000;
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .text-center {
            text-align: center;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline !important;
        }

        table {
            width: 600px;
            margin: 0 auto;
        }

        tr,
        td {
            color: #000;
        }

        h2:before {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            left: 100px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        h2:after {
            content: '';
            width: 100px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            right: 0px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .table>thead>tr>th,
        .table>tbody>tr>td {
            padding: 8px;
            font-weight: 400;
        }

        .table>tbody>tr>td:nth-child(2),
        .table>thead>tr>th:nth-child(2) {
            text-align: left;
        }

        a {
            cursor: pointer;
        }

        .text-uppercase {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;">
                        <img src="https://sfa.wohlig.co.in/img/img/logo.png" class="img-responsive" style="margin: 0 auto;">
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span style="font-family: TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">SPORTS REGISTRATIONS </span>
                    <h2 style="margin:10px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">SFA
                        <span class="text-uppercase">
                            <%=city%>
                        </span>
                        <%=eventYear%>
                    </h2>
                </td>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="main-div" style="padding: 0px 54px; text-align: justify; font-family: TitilliumWeb-Regular;font-size: 17px;">
                        <p> Dear
                            <%=name%>,</p>
                        <p style="margin-bottom: 0px;">Congratulations! You have successfully registered a
                            <span style="font-weight: bold;">
                                <%=sportName%>
                            </span> Team at SFA
                            <%=city%>
                                <%=eventYear%>. Please find details for the same below:
                        </p>
                        <!--                         <p style="margin-bottom: 0px">Stay updated with announcements with regards to SFA <%=city%> <%=eventYear%>, by following our Facebook event page:</p>
                        <a style="   color: #0a1a72;"  href="https://www.facebook.com/events/237874770032808/?active_tab=discussion" target="_blank">https://www.facebook.com/events/237874770032808/?active_tab=discussion</a>
                        <p>For further details about your application or any other information you may require please contact us on <span style="font-family:TitilliumWeb-Bold;">7045684365 /66 /67 </span>                            or<br> email us at 
                        <a style="font-family:TitilliumWeb-Bold; color: #000;"" href="mailto:info@sfanow.in">info@sfanow.in</a>
                        </p>
                        <p style="font-family:TitilliumWeb-Bold;">Regards,<br>Team SFA</p> -->

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <%if(type=="school"){%>
                            <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
    color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">School Name:
                                <%=schoolName%>
                            </p>
                            <%}else{ %>
                                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
    color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 5px">College Name:
                                    <%=schoolName%>
                                </p>
                                <%}%>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <%if(type=="school"){%>
                            <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                         color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 0px;">School SFA ID:
                                <%=schoolSFA%>
                            </p>
                            <%}else{ %>
                                <p style="text-align: left;border: 1px solid #e1e1e1;padding: 8px;
                          color: #000;background: #e1e1e1; margin-bottom: 0px; margin-top: 0px;">College SFA ID:
                                    <%=schoolSFA%>
                                </p>
                                <%}%>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <ul style="border: 1px solid #091a71;padding: 8px;
    color: #fff;background: #091a71; margin-bottom: 0px;">
                            <li style="display: inline-block; color: #00aaff;">
                                <%=sportName%>
                            </li>
                            <li style="display: inline-block; padding-left: 25px;">Team SFA ID:
                                <%=teamId%>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    <div style="padding: 0px 54px;">
                        <table class="table">
                            <thead style="text-align: center; background: #c4c4c4; ">
                                <th>SR.NO</th>
                                <th>Athlete Name</th>
                                <th>Athlete SFA ID </th>

                            </thead>
                            <tbody>
                                <% _.each(students,function(student){%>
                                    <tr style="text-align: center;background: #e1e1e1;">
                                        <td>
                                            <%=student.srno%>
                                        </td>
                                        <%if(student.isGoalKeeper==true && student.isCaptain==true){%>
                                            <td>
                                                <%=student.name%> (Captian,Goalkeeper)
                                            </td>
                                            <%}else if(student.isGoalKeeper==true){%>
                                                <td>
                                                    <%=student.name%> (Goalkeeper)
                                                </td>
                                                <%}else if(student.isCaptain==true){%>
                                                    <td>
                                                        <%=student.name%> (Captain)
                                                    </td>
                                                    <%}else{%>
                                                        <td>
                                                            <%=student.name%>
                                                        </td>
                                                        <%}%>
                                                            <td>
                                                                <%=student.sfaid%>
                                                            </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>



            <tr>
                <td>
                    <div style="padding: 0px 54px; color: #091a71; text-align: justify; font-weight: 600;">
                        <p style="margin-bottom: 0px;">We wish to see you with a strong contingent,</p>
                        <p style="margin-top: 5px;">such that your
                            <%=type%> is up there on the ranking table!</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div style="padding: 0px 54px; font-weight: bold;">
                        <p style="margin-bottom: 0px"> Kindly Note:</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 54px;">
                    <ul>
                        <li class="mg-bottom">
                            All changes in your sports registration can be made via the sports registration (STEP 2) using your SFA ID and Password before
                            the last date of registrations.
                        </li>
                        <li class="mg-bottom">
                            Registrations for SFA Championship
                            <%=eventYear%>,
                                <%=city%> will be closed on
                                    <%=endDate%>
                        </li>
                        <li class="mg-bottom">
                            A final list of sports wise and event wise teams and players will be published on
                            <a href="http://www.sfanow.in" target="_new">www.sfanow.in</a> at least 25 days prior to the Championship. In case there is a team or a player
                            who is missing from that list SFA must be informed of the same within 48 hours.
                        </li>
                        <li class="mg-bottom">
                            All draws and schedules will be published on our website 15 days prior to start of the Championship
                        </li>
                        <li class="mg-bottom">
                            <a href="<%=ruleUrl%><%=sportNameLink%>" target="_new">
                                Click here to view the rules & regulations of
                                <span style="font-weight: bold;">
                                    <%=sportNameLink%>
                                </span>
                            </a>. Kindly note the rules & regulations are subject to change till the beginning of your sport
                            at the Championship. We recommend that all players to view rules and regulations of their sport
                            <span style="font-weight: bold;">1</span> day prior to the Championship.
                        </li>
                    </ul>
                </td>
            </tr>

            <!-- OLD KINDLY NOTE -->
            <tr>
                <td>
                    <div style="padding: 0px 54px; text-align: justify; ">
                        <%if(linkSportName != 'Athletics 4x50m Relay' && linkSportName != 'athletics 4x50m relay' && linkSportName != 'Athletics 4x100m Relay' && linkSportName != 'athletics 4x100m relay' && linkSportName != 'Athletics Medley Relay' && linkSportName != 'athletics medley relay' && linkSportName != 'Badminton Doubles' && linkSportName != 'badminton doubles' && linkSportName != 'Table Tennis Doubles' && linkSportName != 'table tennis doubles' && linkSportName != 'Tennis Mixed Doubles' && linkSportName != 'tennis mixed doubles' && linkSportName != 'Tennis Doubles' && linkSportName != 'tennis doubles' && linkSportName != 'Karate Team Kumite' && linkSportName != 'karate team kumite' && linkSportName != 'Swimming 4x50m Medley Relay' && linkSportName != 'swimming 4x50m medley relay' && linkSportName != 'Swimming 4x50m Freestyle Relay' && linkSportName != 'swimming 4x50m freestyle relay'){%>
                            <p style="margin-bottom: 0px;"> 4) Click on the following link to view
                                <%=linkSportName%> Rules and Regulations:
                                    <a href="<%=urls%>/sport/<%=linkSportName%>" target="_new">
                                        <%=urls%>/sport/
                                            <%=linkSportName%>
                                    </a>
                            </p>
                            <%} else if(linkSportName == 'Athletics 4x50m Relay' || linkSportName == 'athletics 4x50m relay' || linkSportName == 'Athletics 4x100m Relay' || linkSportName == 'athletics 4x100m relay' || linkSportName == 'Athletics Medley Relay' || linkSportName == 'athletics medley relay'){%>
                                <p style="margin-bottom: 0px; "> 4) Click on the following link to view Athletics Rules and Regulations:
                                    <a href="<%=urls%>/sport/Athletics" target="_new">
                                        <%=urls%>/sport/Athletics</a>
                                </p>
                                <%} else if(linkSportName == 'Badminton Doubles' || linkSportName == 'badminton doubles'){%>
                                    <p style="margin-bottom: 0px; "> 4) Click on the following link to view Badminton Rules and Regulations:
                                        <a href="<%=urls%>/sport/Badminton" target="_new">
                                            <%=urls%>/sport/Badminton</a>
                                    </p>
                                    <%} else if(linkSportName == 'Table Tennis Doubles' || linkSportName == 'table tennis doubles'){%>
                                        <p style="margin-bottom: 0px; "> 4) Click on the following link to view Table Tennis Rules and Regulations:
                                            <a href="<%=urls%>/sport/Table Tennis" target="_new">
                                                <%=urls%>/sport/Table Tennis</a>
                                        </p>
                                        <%} else if(linkSportName == 'Tennis Mixed Doubles' || linkSportName == 'tennis mixed doubles' || linkSportName == 'Tennis Doubles' || linkSportName == 'tennis doubles'){%>
                                            <p style="margin-bottom: 0px; "> 4) Click on the following link to view Tennis Rules and Regulations:
                                                <a href="<%=urls%>/sport/Tennis" target="_new">
                                                    <%=urls%>/sport/Tennis</a>
                                            </p>
                                            <%} else if(linkSportName == 'Karate Team Kumite' || linkSportName == 'karate team kumite'){%>
                                                <p style="margin-bottom: 0px; "> 4) Click on the following link to view Karate Rules and Regulations:
                                                    <a href="<%=urls%>/sport/Karate" target="_new">
                                                        <%=urls%>/sport/Karate</a>
                                                </p>
                                                <%} else if(linkSportName == 'Swimming 4x50m Medley Relay' || linkSportName == 'swimming 4x50m medley relay' || linkSportName == 'Swimming 4x50m Freestyle Relay' || linkSportName == 'swimming 4x50m freestyle relay'){%>
                                                    <p style="margin-bottom: 0px;"> 4) Click on the following link to view Swimming Rules and Regulations:
                                                        <a href="<%=urls%>/sport/Swimming" target="_new">
                                                            <%=urls%>/sport/Swimming</a>
                                                    </p>
                                                    <%}%>
                    </div>
                </td>
            </tr>
            <!-- OLD KINDLY NOTE END-->
            <tr>
                <td>
                    <div style="padding: 0px 54px; ">
                        <p style="margin-top: 20px; font-weight: bold; "> Ab Jeetega India! </p>
                        <p style="font-family:TitilliumWeb-Bold; font-weight: bold; ">Regards,
                            <br>Team SFA</p>
                    </div>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
                        <ul class="list-inline" style="padding: 8px 35px;font-size: 16px;font-weight: bold">
                            <li>
                                <img src="https://sfa.wohlig.co.in/img/img/g1.png" alt="">
                            </li>
                            <li style="vertical-align: top;padding-left: 0;">
                                <a href="www.sfanow.in" target="_new" style="color:#fff;text-decoration: none;">www.sfanow.in</a>
                            </li>
                            <li>
                                <img src="https://sfa.wohlig.co.in/img/img/g2.png" alt="">
                            </li>
                            <li style="vertical-align: top;padding-left: 0;">
                                <a href=" https://goo.gl/bSQ9CB" target="_new" style="color:#fff;text-decoration: none;">/sportsforallnow</a>
                            </li>
                            <li>
                                <img src="https://sfa.wohlig.co.in/img/img/g3.png" alt="">
                            </li>
                            <li style="vertical-align: top;padding-left: 0;">
                                <a href="https://twitter.com/sfanow" target="_new" style="color:#fff;text-decoration: none;">/sfanow</a>
                            </li>
                            <li>
                                <img src="https://sfa.wohlig.co.in/img/img/g4.png" alt="">
                            </li>
                            <li style="vertical-align: top;padding-left: 0;">
                                <a href="https://www.instagram.com/sfanow/" target="_new" style="color:#fff;text-decoration: none;">/sfanow </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>